*{
    margin:0;
    padding: 0;
}

body {
    position: relative;
    /*Font-family and Font size*/
    background-color: #fff;
    color: #2F173C;
}

img {
    display: block;
    margin: 20px auto;
  }